<html>
<head></head>
<body style="background-color: #333; -webkit-font-smoothing: antialiased; overflow: hidden;">
<div style="height: 100%;
    -webkit-filter: blur(10px);
    background: url(../../../images/CallCenter2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px -10px -10px -10px;
    overflow: hidden;"></div>
<div style="width: 300px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -200px 0 0 -150px;
    background-color: rgb(236, 242, 246);
    border-radius: 3px;">
    <div><img style="
    width: 100px;
    height: 100px;
    margin-left: 100px;
    margin-top: 40px;" id="profile" src="../../../images/hpi.png">
    </div>
    <form action="/search/">
        <input type="text" placeholder="E-Mail" id="E-Mail" style="width: 260px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 40px;
    outline: none;
    font: normal 16px Helvetica, sans-serif;
    color: rgb(80, 83, 95)">
        <input type="password" placeholder="Passwort" style="width: 260px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 20px;
    outline: none;
    font: normal 16px Helvetica, sans-serif;
    color: rgb(80, 83, 95)">

        <input type="submit" value="Login" style="width: 260px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 56px;
    outline: none;
    font: bold 16px Helvetica, sans-serif;
    color: #fff;
    border: none;
    background-color: rgb(22, 165, 251);"></form>
</div></body></html>