<div id="mainSearchPage">
    <form method="get" action="/ergebnisse/">
        <input type="text" placeholder="Kundennummer" class="inputField" name="id"/>

        <div class="inputFieldSeparation"></div>

        <input type="text" placeholder="Name" class="inputField" name="name"/>

        <input type="text" placeholder="PLZ" class="secondInputField" name="plz"/>

        <input type="submit" value="Suchen" class="button" />
    </form>
</div>